

<div class="row_containers">
<h1> <font size="+2"> <b>Currently viewing comments and data entered today by {{user.firstName}} {{user.lastName}} patient's</b></font></h1> <br>
<p><a href="/allComments">View recent comments</a>           <a href="/allNotes">View all notes</a></p>
</div>
{{!-- {{ Iterate through every patient}} --}}
<div class="row_containers">
    <div class="patient_rows">
        {{#each patients as |patient|}}
            <div class="patient_info">
                {{!-- {{Show patient data and link to their individal page }} --}}
                <p>Patient Name: <a href="/hardData/{{patient.username}}">{{patient.firstName}} {{patient.lastName}}</a></p>
                <p>Medical Data Added Today</p>

                {{!-- {{ Check to see if the Dr needs to see exercise}} --}}
                {{#if patient.exerciseRequired}}
                    {{!-- {{ Check if any exercise data has been added}} --}}
                    {{#if ../exercisePost.length}}        
                        {{#each ../exercisePost as |userDataPost|}}
                        {{!-- {{ Iterate through every glucose post to find the most recent from this patient}} --}}
                            {{!-- {{ Found the post of this user}} --}}
                            {{#if (equalString patient.username userDataPost.username)}}
                                {{#if userDataPost.dataLevel}}
                                    {{!-- {{ Upper threshold is breached}} --}}
                                    {{#if (isGreater userDataPost.dataLevel patient.exerciseUpper)}} <p style="color:red">Amount of exercise: {{userDataPost.dataLevel}} steps</p> 
                                    {{!-- {{ Lower threshold is breached}} --}}  
                                    {{else if (isLess userDataPost.dataLevel patient.exerciseLower)}} <p style="color:red">Amount of exercise: {{userDataPost.dataLevel}} steps</p> 
                                    
                                    {{!-- {{ Neither threshold breached }} --}}  
                                    {{else}} <p>Amount of exercise: {{userDataPost.dataLevel}} steps</p>
                                    {{/if}}
                                {{else}} 
                                    <p style="color:red">No steps have been added</p>
                                {{/if}}
                                <p>Exercise Comment: {{userDataPost.dataComment}}</p>
                            {{/if}}

                        {{/each}}
                    {{else}}
                    <p style="color:red">No exercise data has been added</p>
                    {{/if}}

                    {{#each ../exercisePost as |userDataPost|}}
                    {{!-- {{ Iterate through every glucose post to find the most recent from this patient}} --}}
                        {{!-- {{ Found the post of this user}} --}}
                        {{#if (equalString patient.username userDataPost.username)}}
                            {{#if userDataPost.dataLevel}}
                                {{!-- {{ Upper threshold is breached}} --}}
                                {{#if (isGreater userDataPost.dataLevel patient.exerciseUpper)}} <p style="color:red">Amount of exercise: {{userDataPost.dataLevel}} steps</p> 
                                {{!-- {{ Lower threshold is breached}} --}}  
                                {{else if (isLess userDataPost.dataLevel patient.exerciseLower)}} <p style="color:red">Amount of exercise: {{userDataPost.dataLevel}} steps</p> 
                                
                                {{!-- {{ Neither threshold breached }} --}}  
                                {{else}} <p>Amount of exercise: {{userDataPost.dataLevel}} steps</p>
                                {{/if}}
                            {{else}} 
                                <p style="color:red">No steps have been added</p>
                            {{/if}}
                            <p>Exercise Comment: {{userDataPost.dataComment}}</p>
                        {{/if}}

                    {{/each}}
                {{/if}}


                {{!-- {{ Check to see if the Dr needs to see glucose}} --}}
                {{#if patient.glucoseRequired}}
                    {{#if ../glucosePost.length}}
                    {{else}}
                    <p style="color:red">No glucose values has been added</p>
                    {{/if}}
                    {{!-- {{ Iterate through every glucose post to find the most recent from this patient}} --}}

                    {{#each ../glucosePost as |userDataPost|}}
                        {{!-- {{ Found the post of this user}} --}}
                        {{#if (equalString patient.username userDataPost.username)}}
                            {{#if userDataPost.dataLevel}}
                                {{!-- {{ Upper threshold is breached}} --}}
                                {{#if (isGreater userDataPost.dataLevel patient.glucoseUpper)}} <p style="color:red">Glucose Level: {{userDataPost.dataLevel}} nmol/L</p> 
                                {{!-- {{ Lower threshold is breached}} --}}  
                                {{else if (isLess userDataPost.dataLevel patient.glucoseLower)}} <p style="color:red">Glucose Level: {{userDataPost.dataLevel}} nmol/L</p> 
                                
                                {{!-- {{ Neither threshold breached }} --}}  
                                {{else}} <p>Glucose Level: {{userDataPost.dataLevel}} nmol/L</p>
                                {{/if}}
                                
                            {{else}} 
                                <p style="color:red">No glucose values has been added</p>
                            
                            {{/if}}
                            <p>Glucose Comment: {{userDataPost.dataComment}}</p>
                        
                        {{/if}}

                    {{/each}}
                {{/if}}

                {{!-- {{ Check to see if the Dr needs to see insulin}} --}}
                {{#if patient.insulinRequired}}
                    {{#if ../insulinPost.length}}
                    {{else}}
                    <p style="color:red">No insulin values has been added</p>
                    {{/if}}
                    {{!-- {{ Iterate through every insulin post to find the most recent from this patient}} --}}
                    {{#each ../insulinPost as |userDataPost|}}

                        {{!-- {{ Found the post of this user}} --}}
                        {{#if (equalString patient.username userDataPost.username)}}
                            {{#if userDataPost.dataLevel}}
                                {{!-- {{ Upper threshold is breached}} --}}
                                {{#if (isGreater userDataPost.dataLevel patient.insulinUpper)}} <p style="color:red">Doses of Insulin taken: {{userDataPost.dataLevel}} doses</p> 
                                {{!-- {{ Lower threshold is breached}} --}}  
                                {{else if (isLess userDataPost.dataLevel patient.insulinLower)}} <p style="color:red">Doses of Insulin taken: {{userDataPost.dataLevel}} doses</p> 
                                
                                {{!-- {{ Neither threshold breached }} --}}  
                                {{else}} <p>Doses of Insulin taken: {{userDataPost.dataLevel}} doses</p>
                                {{/if}}
                                
                                {{else}} 
                                    <p style="color:red">No insulin values has been added</p>
                                
                            {{/if}}
                            <p>Insulin Comment: {{userDataPost.dataComment}}</p>
                        
                        {{/if}}

                    {{/each}}
                {{/if}}

                {{!-- {{ Check to see if the Dr needs to see weight}} --}}
                {{#if patient.weightRequired}}
                    {{#if ../weightPost.length}}
                    {{else}}
                    <p style="color:red">No weight values has been added</p>
                    {{/if}}
                    {{!-- {{ Iterate through every weight post to find the most recent from this patient}} --}}
                    {{#each ../weightPost as |userDataPost|}}

                        {{!-- {{ Found the post of this user}} --}}
                        {{#if (equalString patient.username userDataPost.username)}}
                            {{#if userDataPost.dataLevel}}
                                {{!-- {{ Upper threshold is breached}} --}}
                                {{#if (isGreater userDataPost.dataLevel patient.weightUpper)}} <p style="color:red">Weight: {{userDataPost.dataLevel}} kg</p> 
                                {{!-- {{ Lower threshold is breached}} --}}  
                                {{else if (isLess userDataPost.dataLevel patient.weightLower)}} <p style="color:red">Weight: {{userDataPost.dataLevel}} kg</p> 
                                
                                {{!-- {{ Neither threshold breached }} --}}  
                                {{else}} <p>Weight: {{userDataPost.dataLevel}} kg</p>
                                {{/if}}
                                
                            {{else}} 
                                <p style="color:red">No weight values has been added</p>
                            
                            {{/if}}
                            <p>Weight Comment: {{userDataPost.dataComment}}</p>
                        {{/if}}

                    {{/each}}
                {{/if}}
                
                <div class="container">
                    <div class = "box">
                        <a>Write a note about {{patient.firstName}}</a>
                        <form action="/drHome" method="post">
                            
                            <input type="text" placeholder="note" name="content" />
                            <input type="hidden" name="username" value = {{patient.username}}/>
                            <input type = "hidden" name = "clinicianId" value = {{../user._id}} />
                            <input type = "hidden" name = "dataType" value = "note" />
                            <input type="Submit" />
                        </form>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
