
<h1>Patients of {{user.firstName}} {{user.lastName}} </h1>


{{!-- {{ Iterate through every user}} --}}
{{#each users as |user|}}
    <p><a href="/hard_data/{{this.username}}">Patient Name: {{user.firstName}} {{user.lastName}}</a></p>
    <p>Patient Name: {{user.firstName}} {{user.lastName}}</p>
    
    {{!-- {{ Check to see if the Dr needs to see glucose}} --}}
    
    {{#if glucoseRequired}}
        {{!-- {{ Iterate through every glucose post to find the most recent from this user}} --}}
        {{#each ../glucosePost as |glucosePost|}}

            {{!-- {{ Found the post of this user}} --}}
            {{#if (equalString user.username glucosePost.username)}}
            <p>hi {{glucosePost.medicalData}}</p>
                {{!-- {{ Upper threshold is breached}} --}}
                {{#if (isGreater glucosePost.glucoseLevel user.glucoseUpper)}} <p style="color:red">Glucose Level: {{glucosePost.glucoseLevel}}</p> 
                {{!-- {{ Lower threshold is breached}} --}}  
                {{else if (isLess glucosePost.glucoseLevel user.glucoseLower)}} <p style="color:red">Glucose Level: {{glucosePost.glucoseLevel}}</p> 
                
                {{!-- {{ Neither threshold breached }} --}}  
                {{else}} <p>Glucose Level: {{glucosePost.glucoseLevel}}</p>
                {{/if}}
                <p>Glucose Comment: {{glucosePost.glucoseComment}}</p>
            {{/if}}

        {{/each}}
    {{/if}}

    {{!-- {{ Check to see if the Dr needs to see exercise}} --}}
    {{#if user.exerciseRequired}}
    <p>{{user.username}} requires exercise</p>
        {{!-- {{ Iterate through every glucose post to find the most recent from this user}} --}}
        {{#each ../exercisePost as |post|}}
        <p>hiasdasdda</p>
            {{!-- {{ Found the post of this user}} --}}
            {{#if (equalString user.username post.username)}}
            <p>{{post.username}}</p>
                {{!-- {{ Upper threshold is breached}} --}}
                {{#if (isGreater post.exerciseLevel user.exerciseUpper)}} <p style="color:red">Exercise Level: {{post.exerciseLevel}}</p> 
                {{!-- {{ Lower threshold is breached}} --}}  
                {{else if (isLess post.exerciseLevel user.exerciseLower)}} <p style="color:red">Exercise Level: {{post.exerciseLevel}}</p> 
                
                {{!-- {{ Neither threshold breached }} --}}  
                {{else}} <p>Exercise Level: {{post.exerciseLevel}}</p>
                {{/if}}
                <p>Exercise Comment: {{post.exerciseComment}}</p>
            {{/if}}

        {{/each}}
    {{/if}}

{{/each}}

{{#each exercisePost}}
<p>hi</p>
{{this.username}}
{{/each}}