
<h1>Patients of {{user.firstName}} {{user.lastName}} </h1>

<p><a href="./"> Link to hard data</a> </p>
{{!-- {{ Iterate through every patient}} --}}
<div class="row_containers">
    <div class="patient_rows">
        {{#each patients as |patient|}}
            <div class="patient_info">
                <p><a href="/hard_data/{{patient.username}}">Patient Name: {{patient.firstName}} {{patient.lastName}}</a></p>
                <p>Medical Data Added Today</p>

                {{!-- {{ Check to see if the Dr needs to see exercise}} --}}
                {{#if patient.exerciseRequired}}
                    {{!-- {{ Iterate through every glucose post to find the most recent from this patient}} --}}
                    {{#each ../exercisePost as |userDataPost|}}
                        {{!-- {{ Found the post of this user}} --}}
                        {{#if (equalString patient.username userDataPost.username)}}
                            {{#if userDataPost.dataLevel}}
                                {{!-- {{ Upper threshold is breached}} --}}
                                {{#if (isGreater userDataPost.dataLevel patient.exerciseUpper)}} <p style="color:red">Amount of exercise: {{userDataPost.dataLevel}} steps</p> 
                                {{!-- {{ Lower threshold is breached}} --}}  
                                {{else if (isLess userDataPost.dataLevel patient.exerciseLower)}} <p style="color:red">Amount of exercise: {{userDataPost.dataLevel}} steps</p> 
                                
                                {{!-- {{ Neither threshold breached }} --}}  
                                {{else}} <p>Amount of exercise: {{userDataPost.dataLevel}} steps</p>
                                {{/if}}
                                <p>Exercise Comment: {{userDataPost.dataComment}}</p>
                            {{/if}}
                        {{/if}}

                    {{/each}}
                {{/if}}


                {{!-- {{ Check to see if the Dr needs to see glucose}} --}}
                {{#if patient.glucoseRequired}}
                    {{!-- {{ Iterate through every glucose post to find the most recent from this patient}} --}}
                    {{#each ../glucosePost as |userDataPost|}}
                        {{!-- {{ Found the post of this user}} --}}
                        {{#if (equalString patient.username userDataPost.username)}}
                            {{#if userDataPost.dataLevel}}
                                {{!-- {{ Upper threshold is breached}} --}}
                                {{#if (isGreater userDataPost.dataLevel patient.glucoseUpper)}} <p style="color:red">Glucose Level: {{userDataPost.dataLevel}} nmol/L</p> 
                                {{!-- {{ Lower threshold is breached}} --}}  
                                {{else if (isLess userDataPost.dataLevel patient.glucoseLower)}} <p style="color:red">Glucose Level: {{userDataPost.dataLevel}} nmol/L</p> 
                                
                                {{!-- {{ Neither threshold breached }} --}}  
                                {{else}} <p>Glucose Level: {{userDataPost.dataLevel}} nmol/L</p>
                                {{/if}}
                                <p>Glucose Comment: {{userDataPost.dataComment}}</p>
                            {{/if}}
                        {{/if}}

                    {{/each}}
                {{/if}}

                {{!-- {{ Check to see if the Dr needs to see insulin}} --}}
                {{#if patient.insulinRequired}}
                    {{!-- {{ Iterate through every insulin post to find the most recent from this patient}} --}}
                    {{#each ../insulinPost as |userDataPost|}}

                        {{!-- {{ Found the post of this user}} --}}
                        {{#if (equalString patient.username userDataPost.username)}}
                            {{#if userDataPost.dataLevel}}
                                {{!-- {{ Upper threshold is breached}} --}}
                                {{#if (isGreater userDataPost.dataLevel patient.insulinUpper)}} <p style="color:red">Doses of Insulin taken: {{userDataPost.dataLevel}} doses</p> 
                                {{!-- {{ Lower threshold is breached}} --}}  
                                {{else if (isLess userDataPost.dataLevel patient.insulinLower)}} <p style="color:red">Doses of Insulin taken: {{userDataPost.dataLevel}} doses</p> 
                                
                                {{!-- {{ Neither threshold breached }} --}}  
                                {{else}} <p>Doses of Insulin taken: {{userDataPost.dataLevel}} doses</p>
                                {{/if}}
                                <p>Insulin Comment: {{userDataPost.dataComment}}</p>
                            {{/if}}
                        {{/if}}

                    {{/each}}
                {{/if}}

                {{!-- {{ Check to see if the Dr needs to see weight}} --}}
                {{#if patient.weightRequired}}
                    {{!-- {{ Iterate through every weight post to find the most recent from this patient}} --}}
                    {{#each ../weightPost as |userDataPost|}}

                        {{!-- {{ Found the post of this user}} --}}
                        {{#if (equalString patient.username userDataPost.username)}}
                            {{#if userDataPost.dataLevel}}
                                {{!-- {{ Upper threshold is breached}} --}}
                                {{#if (isGreater userDataPost.dataLevel patient.weightUpper)}} <p style="color:red">Weight: {{userDataPost.dataLevel}} kg</p> 
                                {{!-- {{ Lower threshold is breached}} --}}  
                                {{else if (isLess userDataPost.dataLevel patient.weightLower)}} <p style="color:red">Weight: {{userDataPost.dataLevel}} kg</p> 
                                
                                {{!-- {{ Neither threshold breached }} --}}  
                                {{else}} <p>Weight: {{userDataPost.dataLevel}} kg</p>
                                {{/if}}
                                <p>Weight Comment: {{userDataPost.dataComment}}</p>
                            {{/if}}
                        {{/if}}

                    {{/each}}
                {{/if}}
                
                <div class="container">
                    <div class = "box">
                        <a>Write a note about {{patient.firstName}}</a>
                        <form action="/drHome" method="post">
                            
                            <input type="text" placeholder="note" name="content" />
                            <input type="hidden" name="username" value = {{patient.username}}/>
                            <input type = "hidden" name = "clinicianId" value = {{../user._id}} />
                            <input type = "hidden" name = "dataType" value = "note" />
                            <input type="Submit" />
                        </form>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
