{{!-- {{ Iterate through every user}} --}}
{{#each users as |user|}}
    {{!-- {{ Iterate through every user}} --}}
    <p>Patient Name: {{user.firstName}} {{user.lastName}}</p>
    {{#each ../posts as |post|}}

    {{/each}}

{{/each}}








{{!-- {{ MAKES SENSE TO GO USER THEN POST
FIND EACH USER
FIND the first post (break as it should be the most recent)
Apply user thresholds }} --}}
