{{!-- {{ Iterate through every user}} --}}
{{#each users as |user|}}
    <p>Patient Name: {{user.firstName}} {{user.lastName}}</p>
    
    {{!-- {{ Does the user need to record this data}} --}}
    
    {{#if glucoseRequired}}
        {{!-- {{ Iterate through every glucose post to find the most recent from this user}} --}}
        {{#each ../glucostPost as |post|}}
            {{!-- {{ Found the post of this user}} --}}
            {{#if (equalString user.username post.username)}}
                {{!-- {{ Upper threshold is breached}} --}}
                {{#if (isGreater post.glucoseLevel user.glucoseUpper)}} <p style="color:red">Glucose Level: {{post.glucoseLevel}}</p> 
                {{!-- {{ Lower threshold is breached}} --}}  
                {{else if (isLess post.glucoseLevel user.glucoseLower)}} <p style="color:red">Glucose Level: {{post.glucoseLevel}}</p> 
                
                {{!-- {{ Neither threshold breached }} --}}  
                {{else}} <p>Glucose Level: {{post.glucoseLevel}}</p>
                {{/if}}
            {{/if}}

        {{/each}}
    {{/if}}

{{/each}}






{{!-- {{ MAKES SENSE TO GO USER THEN POST
FIND EACH USER
FIND the first post (break as it should be the most recent)
Apply user thresholds }} --}}
