<div class="row_containers">
    <p>Patient Name: {{patientProfile.firstName}} {{patientProfile.lastName}}</p>
    <div class="patient_rows">
    {{#each data}}
        <div class="patient_info">
            <p>Patient Name: {{this.firstName}} {{this.lastName}}</p>
            {{#if (isGreater this.glucoseLevel this.glucoseUpper)}} <p style="color:red">Glucose Level: {{this.glucoseLevel}}</p> 
            {{!-- {{ Lower threshold is breached}} --}}  
            {{else if (isLess this.glucoseLevel this.glucoseLower)}} <p style="color:red">Glucose Level: {{this.glucoseLevel}}</p> 
            
            {{!-- {{ Neither threshold breached }} --}}  
            {{else}} <p>Glucose Level: {{this.glucoseLevel}}</p>
            {{/if}}
            <p>Patient Id: {{this.patientId}}</p>
        </div>
    {{/each}}
    </div>
</div>
<p> These are notes</p>
<div class="row_containers">
    {{#each note}}
        <div class="patient_info">
            <p>Note {{this.content}} {{this.dateTime}}</p>
        </div>
    {{/each}}
</div>
