{{!-- {{ Iterate through every user}} --}}
{{#each users as |user|}}
    {{!-- {{ Iterate through every post}} --}}
    <p>Patient Name: {{user.firstName}} {{user.lastName}} {{user.username}}</p>
    {{#each ../posts as |post|}}
        <p>{{post.username}}</p>
        {{#if (equalString user.username post.username)}}
            <p>Usernames are equal</p>
        {{/if}}

    {{/each}}

{{/each}}






{{!-- {{ MAKES SENSE TO GO USER THEN POST
FIND EACH USER
FIND the first post (break as it should be the most recent)
Apply user thresholds }} --}}
