    <div class="row_containers">
        <div class="patient_rows">
                {{!-- Currently going through each data instance of a patient, should change --}}
                {{#each data}}
                    {{!-- Get the most recent data --}}
                    {{#if (isLess @index 1)}}
                        {{!-- Get the patient name --}}
                        <div class="patient_info"> {{this.first_name}}, {{this.last_name}}
                        {{!-- {{Check if the data has been added today}} --}}
                        {{#if this.glucose_today}}
                        {{!-- {{Check thresholds of the data}} --}}
                            {{!-- {{ Upper threshold is breached}} --}}
                            {{#if (isGreater this.glucoseLevel this.glucoseUpper)}} Greater than upper Glucose Level: {{this.glucoseLevel}}
                            {{!-- {{ Lower threshold is breached}} --}}  
                            {{else if (isLess this.glucoseLevel this.glucoseLower)}} Less than lower Glucose Level: {{this.glucoseLevel}}
                            {{!-- {{ Neither threshold breached }} --}}  
                            {{else}} Glucose Level: {{this.glucoseLevel}}
                            {{/if}}
                            {{!-- {{ Display patient comment and if the data is from today }} --}}
                            <tr><td> Patient Comment: </td> <td> {{this.glucoseComment}}</td></tr>
                            <tr><td> Today's data: </td> <td> True </td></tr>
                    
                        {{else}}
                        {{!-- {{Check thresholds}} --}}
                            {{!-- {{ Upper threshold is breached}} --}}
                            {{#if (isGreater this.glucoseLevel this.glucoseUpper)}} Greater than upper Glucose Level: {{this.glucoseLevel}}
                            {{!-- {{ Lower threshold is breached}} --}}
                            {{else if (isLess this.glucoseLevel this.glucoseLower)}} Less than lower Glucose Level: {{this.glucoseLevel}}
                            {{!-- {{ Neither threshold breached }} --}}
                            {{else}} {{this.glucoseLevel}}
                            {{/if}}
                            {{!-- {{ Display patient comment and if the data is from today }} --}}
                            <tr><td> Patient Comment </td> <td> {{this.glucoseComment}}</td></tr>
                            <tr><td> Today's data: </td> <td> False </td></tr>
                        {{/if}}
                        </div>
                    {{/if}}
                {{/each}}  
        </div>
    </div>