

<div class="row_containers">
<h1> <font size="+2"> <b>Currently viewing all comments of {{user.firstName}} {{user.lastName}} patient's</b></font></h1> <br>
<p><a href="/allComments">View recent comments</a> <a href="/allNotes">View all notes</a></p>
</div>




{{!-- {{ Iterate through notes first so most recent is shown and then find the relevant patient}} --}}
<div class="row_containers">
    <div class="patient_rows">
        {{#each commentPost as |note|}}
            {{#if note.dataComment}}
                <div class="patient_info">
                    {{#each ../patients as |patient|}}
                        {{#if (equalString patient.username note.username)}}
                            
                            <p>This comment was written by: <a href="/hardData/{{patient.username}}">{{patient.firstName}} {{patient.lastName}}</a></p>
                            <p>The content of the comment: <a href="/hardData/{{patient.username}}">{{note.dataComment}}</a></p>
                            <p>Comment was written on: {{note.dateTime}}</p>
                            
                        {{/if}}
                    {{/each}}
                </div>
            {{/if}}
        {{/each}}
        
    </div>
</div>
