

<div class="row_containers">
<h1> <font size="+2"> <b>Currently viewing comments and data entered today by {{user.firstName}} {{user.lastName}} patient's</b></font></h1> <br>
<p><a href="/allComments">View recent comments</a> <a href="/allNotes">View all notes</a></p>
</div>




{{!-- {{ Iterate through notes first so most recent is shown and then find the relevant patient}} --}}
<div class="row_containers">
    <div class="patient_rows">
        {{#each notePost as |note|}}
            <div class="patient_info">
                {{#each ../patients as |patient|}}
                    {{#if (equalString patient.username note.username)}}
                        <p>This note relates to: <a href="/hardData/{{patient.username}}">{{patient.firstName}} {{patient.lastName}}</a></p>
                        <p>Note relates to: {{note.dataComment}}</p>
                        <p>Note written on: {{note.dateTime}}</p>
                    {{/if}}
                {{/each}}
            </div>
        {{/each}}
        
    </div>
</div>
