<h1>Displaying All Patient Data</h1>
<ul>
    {{#each data}}
    {{!-- {{Get the most recent data}} --}}
    {{#if (isLess @index 1)}}
        <li> {{this.first_name}}, {{this.last_name}} </li>
        <li> Patient Comment {{this.glucoseComment}}</li>
        {{!-- {{Check if the data has been added today, display check if true and cross if not}} --}}
        {{#if this.glucose_today}} Glucose added today {{this.glucoseLevel}}
            {{#if (isGreater this.glucoseLevel this.glucoseUpper)}} Greater than upper 
            {{else if (isLess this.glucoseLevel this.glucoseLower)}} Less than lower
            {{else}} Glucose at healthy level
            {{/if}}
            
        {{else}}
            Glucose Not added {{this.glucoseLevel}}
            {{#if (isGreater this.glucoseLevel this.glucoseUpper)}} yesterday Greater than upper 
            {{else if (isLess this.glucoseLevel this.glucoseLower)}} yesterday Less than lower
            {{else}} yesterday Glucose at healthy level
            {{/if}}
        {{/if}}
    {{/if}}

    {{/each}}
</ul>